<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Solace needs access to your microphone for voice input.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Solace uses speech recognition to convert your voice into text messages.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Solace needs access to your local network to discover and connect to the daemon running on your Mac.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_solace._tcp.</string>
	</array>
</dict>
</plist>
